@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Electronics repair</h1> 
    <img src="https://i.pinimg.com/474x/a0/50/30/a050303351665ba35fb6eeb15d5bac12.jpg" />
    <p class="lead">Electronics repair web site is for repairment company to see how many electronics were given to the repair shop.</p>

    <p><a href="https://aws.amazon.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mobile phones</h2>
        <p>
            A mobile phone is a wireless handheld device that allows users to make and receive calls. ... Also, while mobile phones used to be mainly known as “cell phones” or cellular phones, today's mobile phones are more commonly called “smartphones” because of all of the extra voice and data services that they offer.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Home electronics</h2>
        <p>Consumer electronics or home electronics are electronic (analog or digital) equipment intended for everyday use, typically in private homes. Consumer electronics include devices used for entertainment, communications and recreation. Usually referred to as black goods due to many products being housed in black or dark casings.</p>
        
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Office electronics</h2>

        <p>The electronic office, or e-office, was a term coined to cover the increasing use of computer-based information technology for office work, especially in the 1980s. It was a popular marketing buzzword during that era, but is no longer so widely used since all modern offices are electronic offices.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>